In [18]:
!git clone 'https://github.com/HarshvardhanSingh-13/Datasets'

fatal: destination path 'Datasets' already exists and is not an empty directory.

In [19]:
import pandas as pd

# 1) Overall Exploration

#### 1.1) Loading the dataset

In [20]:
df = pd.read_csv('/content/Datasets/Job Postings/jobs.csv.zip')
df.head()

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,posted_on,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",1 Day Ago,https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",1 Day Ago,https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",1 Day Ago,https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...

In [ ]:
'''
KPI's

1) Calculate the average rating for each company.
2) Identify companies with the highest and lowest average ratings.
3) Compare the distribution of ratings across different companies.
4) Calculate the total number of reviews for each company.
5) List the top 10 companies based on average rating and number of reviews.
6) Identify the top responsibilities for each role

7) Lowest and Highest Rating Companies
8) Number of Active Jobs in any company | Top Companies
8) Companies which provide Max/Min Average Salary
9) Salary Vs Expectation of any company
10) Companies hiring for most numbers of location

'''

#### 1.2) Information about the datset

In [ ]:
df['salary'].value_counts()

salary
Not disclosed                                          45544
6,50,000 - 9,00,000 PA.                                 3330
6,00,000 - 8,00,000 PA.                                 1114
5,00,000 - 10,00,000 PA.                                1087
2,50,000 - 3,50,000 PA.                                  599
                                                       ...
4,00,000 - 9,00,000 PA. (Including Variable: 20.0%)        1
4,00,00,000 - 4,50,00,000 PA.                              1
2,00,000 - 6,00,000 PA. (Including Variable: 30.0%)        1
60,00,000 - 1,00,00,000 PA.                                1
75,00,000 - 1,00,00,000 PA.                                1
Name: count, Length: 813, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79147 entries, 0 to 79146
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_id           78667 non-null  float64
 1   job_role         78667 non-null  object
 2   company          78666 non-null  object
 3   experience       77398 non-null  object
 4   salary           78667 non-null  object
 5   location         77441 non-null  object
 6   rating           42948 non-null  float64
 7   reviews          42948 non-null  object
 8   resposibilities  78647 non-null  object
 9   posted_on        78667 non-null  object
 10  job_link         78667 non-null  object
 11  company_link     78667 non-null  object
dtypes: float64(2), object(10)
memory usage: 7.2+ MB

In [ ]:
df.describe()

             job_id        rating
count  7.866700e+04  42948.000000
mean   1.255071e+11      3.940144
std    1.097464e+11      0.519211
min    1.012200e+10      1.000000
25%    4.012350e+10      3.700000
50%    6.012350e+10      4.000000
75%    2.610226e+11      4.200000
max    3.112229e+11      5.000000

#### 1.3) Checking for null values

In [ ]:
df.isnull().sum()

job_id               480
job_role             480
company              481
experience          1749
salary               480
location            1706
rating             36199
reviews            36199
resposibilities      500
posted_on            480
job_link             480
company_link         480
dtype: int64

#### 1.4) Removing Column 'posted_on'

In [ ]:
df['posted_on'].unique()

array(['1 Day Ago', '3 Days Ago', '2 Days Ago', 'Walk-in3 Days Ago',
       '7 Days Ago', '9 Days Ago', '5 Days Ago', '4 Days Ago',
       '6 Days Ago', '8 Days Ago', 'Today', '10 Days Ago',
       'Walk-in1 Day Ago', 'Walk-in2 Days Ago', 'Walk-in4 Days Ago',
       'Walk-in5 Days Ago', 'Just Now', 'Walk-inJust Now',
       'Walk-in9 Days Ago', 'Walk-in8 Days Ago', 'Walk-in10 Days Ago',
       'Walk-in6 Days Ago', 'Few Hours Ago', 'Walk-in7 Days Ago',
       'Walk-inFew Hours Ago', 'Walk-inToday', nan], dtype=object)

In [21]:
del df['posted_on']
df

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...
...,...,...,...,...,...,...,...,...,...,...,...
79142,6.012301e+10,.Net Fullstack Developer,Citiustech,3-8 Yrs,"7,00,000 - 17,00,000 PA.","Hybrid - Pune, Bangalore/Bengaluru, Mumbai (Al...",4.0,742 Reviews,"c#,.net core,javascript,Microservices,Angular,...",https://www.naukri.com/job-listings-net-fullst...,https://www.naukri.com/citiustech-jobs-careers...
79143,1.122201e+10,Senior (BI) Business Intelligence Architect,Hexaware Technologies,10-13 Yrs,Not disclosed,"Hybrid - Pune, Chennai, Bangalore/Bengaluru, M...",3.7,3172 Reviews,"Informatica Mdm,etl,business intelligence,Agil...",https://www.naukri.com/job-listings-senior-bi-...,https://www.naukri.com/hexaware-technologies-j...
79144,1.512220e+11,PowerBI Developer,EY,5-10 Yrs,Not disclosed,"Hybrid - Pune, Mumbai (All Areas)",3.8,6267 Reviews,"pagination,Power Bi,Dax",https://www.naukri.com/job-listings-powerbi-de...,https://www.naukri.com/ey-jobs-careers-9156
79145,2.712220e+11,Customer Service Associate,Tech Mahindra,0-2 Yrs,"2,50,000 - 3,50,000 PA.","Temp. WFH - Noida, Kolkata, New Delhi, Hyderab...",3.7,21440 Reviews,"Bengali,International BPO,BPO,Customer Service...",https://www.naukri.com/job-listings-customer-s...,https://www.naukri.com/tech-mahindra-jobs-care...
79146,2.112220e+11,Senior Java BED ( PAN India)- KG,Tech Mahindra,8-12 Yrs,"25,00,000 - 27,50,000 PA.","Temp. WFH - Noida, Kolkata, Hyderabad/Secunder...",3.7,21440 Reviews,"Kafka,sql,spring boot,REST API,java,Lambda,Des...",https://www.naukri.com/job-listings-senior-jav...,https://www.naukri.com/born-commerce-jobs-care...

#### 1.5) Removing Null Values

In [ ]:
df.isnull().sum()

job_id               480
job_role             480
company              481
experience          1749
salary               480
location            1706
rating             36199
reviews            36199
resposibilities      500
job_link             480
company_link         480
dtype: int64

In [ ]:
df.dropna(subset=['job_id']).isnull().sum()

job_id                 0
job_role               0
company                1
experience          1269
salary                 0
location            1226
rating             35719
reviews            35719
resposibilities       20
job_link               0
company_link           0
dtype: int64

In [ ]:
df.dropna(subset=['job_id','company']).isnull().sum()

job_id                 0
job_role               0
company                0
experience          1269
salary                 0
location            1226
rating             35719
reviews            35719
resposibilities       20
job_link               0
company_link           0
dtype: int64

In [22]:
df.dropna(subset=['job_id','company','resposibilities'], inplace=True)

In [ ]:
df.dropna(subset=['job_id','company','resposibilities','location','experience']).isnull().sum()

job_id                 0
job_role               0
company                0
experience             0
salary                 0
location               0
rating             35401
reviews            35401
resposibilities        0
job_link               0
company_link           0
dtype: int64

In [ ]:
len(df)

79147

In [ ]:
len(df.dropna(subset=['job_id','company','resposibilities']))

78646

In [ ]:
df['location'].mode()[0]

'Bangalore/Bengaluru'

In [ ]:
df['location'].value_counts()

location
Bangalore/Bengaluru                                                                          10035
Hyderabad/Secunderabad                                                                        3736
Pune                                                                                          3216
Chennai                                                                                       2953
Mumbai                                                                                        2818
                                                                                             ...
Panvel, Andheri, Nerul                                                                           1
Surendranagar, Mehsana, Gandhinagar, Sanand, Ahmedabad, Rajkot                                   1
Kalol, Mahesana, Surendranagar, Mundra, Morvi, Gandhinagar, Patan, Deesa, Ahmedabad              1
Bhavnagar, Surendranagar, Mehsana, Gandhidham, Bhuj, Gandhinagar, Patan, Deesa, Ahmedabad        1
Kalol, Surendranagar, Mehsana, Ahmedabad, Porbandar, Rajkot                                      1
Name: count, Length: 9038, dtype: int64

In [ ]:
df['experience'].value_counts()

experience
5-10 Yrs     8041
3-8 Yrs      4451
1-6 Yrs      3302
4-9 Yrs      3186
2-7 Yrs      3079
             ...
20-26 Yrs       1
22-28 Yrs       1
19-24 Yrs       1
16-21 Yrs       1
20-29 Yrs       1
Name: count, Length: 231, dtype: int64

In [ ]:
df['location'].mode()[0]

'Bangalore/Bengaluru'

In [ ]:
df['experience'].mode()[0]

'5-10 Yrs'

In [ ]:
df.isnull().sum()

job_id                 0
job_role               0
company                0
experience          1268
salary                 0
location            1226
rating             35718
reviews            35718
resposibilities        0
job_link               0
company_link           0
dtype: int64

In [23]:
df['location'] = df['location'].fillna(df['location'].mode()[0])

In [24]:
df['experience'] = df['experience'].fillna(df['experience'].mode()[0])

In [ ]:
df['experience'].mode()

0    5-10 Yrs
Name: experience, dtype: object

In [ ]:
df.isnull().sum()

job_id                 0
job_role               0
company                0
experience             0
salary                 0
location               0
rating             35718
reviews            35718
resposibilities        0
job_link               0
company_link           0
dtype: int64

In [ ]:
df['rating'].unique()

array([4. , 4.1, 3.9, 3.7, 3.8, 4.5, 4.3, 4.2, 4.4, 3.1, 3.3, 3.6, 3.5,
       3.4, nan, 5. , 4.7, 3. , 4.8, 3.2, 4.6, 2.9, 2.8, 2.6, 2.5, 2.2,
       2.3, 2.7, 4.9, 1.1, 2.4, 1.8, 2. , 1. , 1.7, 1.9, 2.1, 1.5, 1.6,
       1.4, 1.2, 1.3])

In [ ]:
df['reviews'].unique()

array(['39110 Reviews', '32129 Reviews', '3759 Reviews', '10263 Reviews',
       '23786 Reviews', '3843 Reviews', '21440 Reviews', '742 Reviews',
       '18348 Reviews', '218 Reviews', '3172 Reviews', '6258 Reviews',
       '1441 Reviews', '33480 Reviews', '50163 Reviews', '19288 Reviews',
       '1190 Reviews', '28658 Reviews', '1686 Reviews', '981 Reviews',
       '24041 Reviews', '370 Reviews', '56 Reviews', '4744 Reviews',
       '601 Reviews', '2060 Reviews', '345 Reviews', '1138 Reviews',
       '1462 Reviews', '1503 Reviews', '3827 Reviews', '274 Reviews',
       '802 Reviews', '5169 Reviews', '311 Reviews', '4786 Reviews',
       '59 Reviews', '2611 Reviews', '321 Reviews', '1232 Reviews',
       '236 Reviews', '613 Reviews', '986 Reviews', '71 Reviews',
       '102 Reviews', '4795 Reviews', '3118 Reviews', '18335 Reviews',
       '1747 Reviews', '2239 Reviews', '136 Reviews', '234 Reviews',
       '1257 Reviews', '4825 Reviews', '351 Reviews', '706 Reviews',
       '242 Reviews', '310 Reviews', '3901 Reviews', '4385 Reviews',
       '66 Reviews', '1924 Reviews', '306 Reviews', '111 Reviews',
       '3026 Reviews', '317 Reviews', '3027 Reviews', '984 Reviews',
       '6592 Reviews', '624 Reviews', '82 Reviews', '773 Reviews',
       '1139 Reviews', '1999 Reviews', '954 Reviews', '4162 Reviews',
       '3480 Reviews', '326 Reviews', '2121 Reviews', '539 Reviews',
       '302 Reviews', '3109 Reviews', '3034 Reviews', '1390 Reviews',
       '565 Reviews', '1741 Reviews', '174 Reviews', '1103 Reviews',
       '276 Reviews', '172 Reviews', '1612 Reviews', '241 Reviews',
       '300 Reviews', '544 Reviews', '4803 Reviews', '188 Reviews',
       '5779 Reviews', '1982 Reviews', '2907 Reviews', '908 Reviews',
       '1632 Reviews', '524 Reviews', '1004 Reviews', '52 Reviews',
       '304 Reviews', '16285 Reviews', '85 Reviews', '270 Reviews',
       '12 Reviews', '1034 Reviews', '316 Reviews', '1205 Reviews',
       '14558 Reviews', '1219 Reviews', '951 Reviews', '231 Reviews',
       '13385 Reviews', '2278 Reviews', '7007 Reviews', '192 Reviews',
       '375 Reviews', '1169 Reviews', '1671 Reviews', '440 Reviews',
       '1054 Reviews', '318 Reviews', '446 Reviews', '504 Reviews',
       '656 Reviews', '3892 Reviews', '5306 Reviews', '1942 Reviews',
       '299 Reviews', '616 Reviews', '5234 Reviews', '189 Reviews',
       '2641 Reviews', '463 Reviews', '2091 Reviews', '28172 Reviews',
       '204 Reviews', '481 Reviews', '110 Reviews', '4 Reviews',
       '999 Reviews', '238 Reviews', '1035 Reviews', '471 Reviews',
       '769 Reviews', '211 Reviews', '11 Reviews', '96 Reviews',
       '606 Reviews', '877 Reviews', '12950 Reviews', '525 Reviews',
       '1615 Reviews', '921 Reviews', '460 Reviews', '965 Reviews',
       '395 Reviews', '170 Reviews', '756 Reviews', '20 Reviews',
       '12288 Reviews', '2502 Reviews', '103 Reviews', '2008 Reviews',
       '3673 Reviews', '11503 Reviews', '6972 Reviews', '1610 Reviews',
       '210 Reviews', '15180 Reviews', '470 Reviews', '4125 Reviews',
       '283 Reviews', '4572 Reviews', nan, '5 Reviews', '4727 Reviews',
       '1658 Reviews', '661 Reviews', '716 Reviews', '72 Reviews',
       '447 Reviews', '264 Reviews', '327 Reviews', '822 Reviews',
       '115 Reviews', '275 Reviews', '3 Reviews', '2 Reviews',
       '112 Reviews', '44 Reviews', '67 Reviews', '181 Reviews',
       '194 Reviews', '13 Reviews', '14 Reviews', '157 Reviews',
       '569 Reviews', '15 Reviews', '42 Reviews', '301 Reviews',
       '13131 Reviews', '1178 Reviews', '1657 Reviews', '120 Reviews',
       '1310 Reviews', '6231 Reviews', '423 Reviews', '127 Reviews',
       '5788 Reviews', '93 Reviews', '80 Reviews', '5276 Reviews',
       '314 Reviews', '165 Reviews', '1322 Reviews', '3562 Reviews',
       '958 Reviews', '499 Reviews', '1446 Reviews', '475 Reviews',
       '1731 Reviews', '128 Reviews', '5017 Reviews', '527 Reviews',
       '3066 Reviews', '1840 Reviews', '1346 Reviews', '906 Reviews',
       '3832 Reviews', '116 Reviews', '1516 Reviews', '5299 Reviews',
       '81 Reviews', '2445 Reviews', '1010 Reviews', '65 Reviews',
       '348 Reviews', '12801 Reviews', '4331 Reviews', '1527 Reviews',
       '227 Reviews', '38 Reviews', '135 Reviews', '428 Reviews',
       '117 Reviews', '273 Reviews', '346 Reviews', '162 Reviews',
       '778 Reviews', '95 Reviews', '1023 Reviews', '9 Reviews',
       '216 Reviews', '21 Reviews', '78 Reviews', '254 Reviews',
       '811 Reviews', '719 Reviews', '5091 Reviews', '1750 Reviews',
       '23 Reviews', '224 Reviews', '182 Reviews', '169 Reviews',
       '57 Reviews', '2362 Reviews', '209 Reviews', '309 Reviews',
       '945 Reviews', '366 Reviews', '24 Reviews', '948 Reviews',
       '33 Reviews', '699 Reviews', '5979 Reviews', '1842 Reviews',
       '53 Reviews', '455 Reviews', '4486 Reviews', '343 Reviews',
       '607 Reviews', '164 Reviews', '259 Reviews', '560 Reviews',
       '586 Reviews', '140 Reviews', '956 Reviews', '3495 Reviews',
       '2256 Reviews', '1373 Reviews', '547 Reviews', '1909 Reviews',
       '983 Reviews', '4472 Reviews', '1694 Reviews', '583 Reviews',
       '1807 Reviews', '979 Reviews', '1287 Reviews', '1408 Reviews',
       '13304 Reviews', '145 Reviews', '22 Reviews', '173 Reviews',
       '6913 Reviews', '1830 Reviews', '2237 Reviews', '743 Reviews',
       '477 Reviews', '142 Reviews', '88 Reviews', '744 Reviews',
       '482 Reviews', '488 Reviews', '1350 Reviews', '1703 Reviews',
       '240 Reviews', '114 Reviews', '17 Reviews', '8 Reviews',
       '155 Reviews', '183 Reviews', '99 Reviews', '54 Reviews',
       '28 Reviews', '7 Reviews', '83 Reviews', '146 Reviews',
       '180 Reviews', '2119 Reviews', '47 Reviews', '356 Reviews',
       '806 Reviews', '3149 Reviews', '799 Reviews', '673 Reviews',
       '212 Reviews', '208 Reviews', '2541 Reviews', '368 Reviews',
       '541 Reviews', '1469 Reviews', '599 Reviews', '3644 Reviews',
       '252 Reviews', '380 Reviews', '386 Reviews', '2464 Reviews',
       '509 Reviews', '3108 Reviews', '119 Reviews', '159 Reviews',
       '36 Reviews', '1330 Reviews', '50 Reviews', '374 Reviews',
       '669 Reviews', '3739 Reviews', '585 Reviews', '7304 Reviews',
       '121 Reviews', '2265 Reviews', '86 Reviews', '122 Reviews',
       '4538 Reviews', '97 Reviews', '4623 Reviews', '621 Reviews',
       '1123 Reviews', '89 Reviews', '68 Reviews', '25 Reviews',
       '2327 Reviews', '1228 Reviews', '350 Reviews', '862 Reviews',
       '284 Reviews', '221 Reviews', '113 Reviews', '988 Reviews',
       '810 Reviews', '1218 Reviews', '228 Reviews', '1812 Reviews',
       '594 Reviews', '74 Reviews', '61 Reviews', '962 Reviews',
       '459 Reviews', '282 Reviews', '1113 Reviews', '1771 Reviews',
       '674 Reviews', '917 Reviews', '34 Reviews', '154 Reviews',
       '14316 Reviews', '2472 Reviews', '3338 Reviews', '4051 Reviews',
       '43 Reviews', '2512 Reviews', '573 Reviews', '1200 Reviews',
       '388 Reviews', '163 Reviews', '250 Reviews', '856 Reviews',
       '144 Reviews', '540 Reviews', '79 Reviews', '2386 Reviews',
       '195 Reviews', '92 Reviews', '542 Reviews', '35 Reviews',
       '1449 Reviews', '129 Reviews', '2735 Reviews', '485 Reviews',
       '336 Reviews', '1613 Reviews', '452 Reviews', '1949 Reviews',
       '73 Reviews', '30 Reviews', '10 Reviews', '18 Reviews',
       '1868 Reviews', '1418 Reviews', '46 Reviews', '134 Reviews',
       '615 Reviews', '1763 Reviews', '41 Reviews', '313 Reviews',
       '867 Reviews', '1269 Reviews', '373 Reviews', '1129 Reviews',
       '4305 Reviews', '462 Reviews', '2380 Reviews', '1042 Reviews',
       '559 Reviews', '199 Reviews', '451 Reviews', '298 Reviews',
       '597 Reviews', '6 Reviews', '32 Reviews', '425 Reviews',
       '2375 Reviews', '1223 Reviews', '4820 Reviews', '466 Reviews',
       '132 Reviews', '190 Reviews', '64 Reviews', '289 Reviews',
       '272 Reviews', '39 Reviews', '286 Reviews', '76 Reviews',
       '401 Reviews', '2322 Reviews', '130 Reviews', '16 Reviews',
       '4850 Reviews', '995 Reviews', '415 Reviews', '215 Reviews',
       '378 Reviews', '2258 Reviews', '151 Reviews', '4557 Reviews',
       '101 Reviews', '331 Reviews', '263 Reviews', '177 Reviews',
       '334 Reviews', '1044 Reviews', '418 Reviews', '1254 Reviews',
       '657 Reviews', '18506 Reviews', '1243 Reviews', '31 Reviews',
       '1405 Reviews', '29 Reviews', '389 Reviews', '2590 Reviews',
       '133 Reviews', '220 Reviews', '1709 Reviews', '1402 Reviews',
       '1822 Reviews', '27 Reviews', '124 Reviews', '483 Reviews',
       '1111 Reviews', '1355 Reviews', '225 Reviews', '1587 Reviews',
       '933 Reviews', '1713 Reviews', '257 Reviews', '4705 Reviews',
       '929 Reviews', '4277 Reviews', '903 Reviews', '664 Reviews',
       '865 Reviews', '100 Reviews', '4388 Reviews', '816 Reviews',
       '383 Reviews', '848 Reviews', '777 Reviews', '941 Reviews',
       '776 Reviews', '1134 Reviews', '581 Reviews', '152 Reviews',
       '185 Reviews', '106 Reviews', '1043 Reviews', '315 Reviews',
       '730 Reviews', '141 Reviews', '1092 Reviews', '546 Reviews',
       '244 Reviews', '107 Reviews', '442 Reviews', '268 Reviews',
       '26 Reviews', '449 Reviews', '543 Reviews', '3627 Reviews',
       '604 Reviews', '2357 Reviews', '801 Reviews', '332 Reviews',
       '167 Reviews', '63 Reviews', '852 Reviews', '620 Reviews',
       '171 Reviews', '70 Reviews', '308 Reviews', '237 Reviews',
       '251 Reviews', '150 Reviews', '1029 Reviews', '305 Reviews',
       '149 Reviews', '505 Reviews', '77 Reviews', '40 Reviews',
       '526 Reviews', '176 Reviews', '51 Reviews', '1259 Reviews',
       '4907 Reviews', '60 Reviews', '1435 Reviews', '1660 Reviews',
       '104 Reviews', '3534 Reviews', '1266 Reviews', '288 Reviews',
       '551 Reviews', '3888 Reviews', '156 Reviews', '588 Reviews',
       '2888 Reviews', '1177 Reviews', '84 Reviews', '1887 Reviews',
       '1984 Reviews', '207 Reviews', '1604 Reviews', '187 Reviews',
       '1934 Reviews', '201 Reviews', '1306 Reviews', '109 Reviews',
       '45 Reviews', '1005 Reviews', '391 Reviews', '168 Reviews',
       '143 Reviews', '792 Reviews', '1637 Reviews', '448 Reviews',
       '2029 Reviews', '278 Reviews', '49 Reviews', '184 Reviews',
       '1855 Reviews', '196 Reviews', '1809 Reviews', '849 Reviews',
       '239 Reviews', '337 Reviews', '222 Reviews', '291 Reviews',
       '87 Reviews', '489 Reviews', '381 Reviews', '2496 Reviews',
       '2810 Reviews', '1524 Reviews', '1943 Reviews', '179 Reviews',
       '436 Reviews', '1548 Reviews', '2056 Reviews', '1151 Reviews',
       '967 Reviews', '1650 Reviews', '139 Reviews', '713 Reviews',
       '675 Reviews', '434 Reviews', '186 Reviews', '123 Reviews',
       '564 Reviews', '861 Reviews', '684 Reviews', '1893 Reviews',
       '915 Reviews', '1056 Reviews', '419 Reviews', '397 Reviews',
       '5908 Reviews', '579 Reviews', '1473 Reviews', '94 Reviews',
       '153 Reviews', '1775 Reviews', '91 Reviews', '335 Reviews',
       '2437 Reviews', '384 Reviews', '1156 Reviews', '357 Reviews',
       '904 Reviews', '808 Reviews', '5089 Reviews', '1443 Reviews',
       '5544 Reviews', '19 Reviews', '426 Reviews', '232 Reviews',
       '531 Reviews', '1018 Reviews', '515 Reviews', '1061 Reviews',
       '160 Reviews', '48 Reviews', '258 Reviews', '2542 Reviews',
       '479 Reviews', '2019 Reviews', '206 Reviews', '1167 Reviews',
       '1221 Reviews', '349 Reviews', '968 Reviews', '338 Reviews',
       '688 Reviews', '296 Reviews', '431 Reviews', '198 Reviews',
       '200 Reviews', '214 Reviews', '484 Reviews', '203 Reviews',
       '723 Reviews', '3741 Reviews', '1921 Reviews', '1549 Reviews',
       '75 Reviews', '137 Reviews', '663 Reviews', '213 Reviews',
       '593 Reviews', '126 Reviews', '1196 Reviews', '243 Reviews',
       '205 Reviews', '873 Reviews', '628 Reviews', '292 Reviews',
       '247 Reviews', '246 Reviews', '1983 Reviews', '229 Reviews',
       '191 Reviews', '622 Reviews', '178 Reviews', '650 Reviews',
       '545 Reviews', '62 Reviews', '233 Reviews', '396 Reviews',
       '1313 Reviews', '105 Reviews', '654 Reviews', '1022 Reviews',
       '433 Reviews', '37 Reviews', '5013 Reviews', '1606 Reviews',
       '108 Reviews', '946 Reviews', '439 Reviews', '405 Reviews',
       '399 Reviews', '444 Reviews', '4759 Reviews', '249 Reviews',
       '175 Reviews', '98 Reviews', '474 Reviews', '1195 Reviews',
       '58 Reviews', '949 Reviews', '582 Reviews', '253 Reviews',
       '640 Reviews', '18362 Reviews', '2094 Reviews', '1714 Reviews',
       '1348 Reviews', '359 Reviews', '596 Reviews', '501 Reviews',
       '417 Reviews', '991 Reviews', '1531 Reviews', '678 Reviews',
       '158 Reviews', '394 Reviews', '1728 Reviews', '367 Reviews',
       '3329 Reviews', '1020 Reviews', '279 Reviews', '266 Reviews',
       '1484 Reviews', '516 Reviews', '528 Reviews', '340 Reviews',
       '2218 Reviews', '1237 Reviews', '217 Reviews', '709 Reviews',
       '147 Reviews', '235 Reviews', '472 Reviews', '245 Reviews',
       '138 Reviews', '223 Reviews', '69 Reviews', '341 Reviews',
       '400 Reviews', '267 Reviews', '1486 Reviews', '362 Reviews',
       '2465 Reviews', '469 Reviews', '1723 Reviews', '1226 Reviews',
       '166 Reviews', '339 Reviews', '1065 Reviews', '355 Reviews',
       '701 Reviews', '43672 Reviews', '780 Reviews', '358 Reviews',
       '942 Reviews', '2692 Reviews', '55 Reviews', '2934 Reviews',
       '422 Reviews', '798 Reviews', '131 Reviews', '548 Reviews',
       '161 Reviews', '895 Reviews', '342 Reviews', '1633 Reviews',
       '478 Reviews', '2014 Reviews', '1059 Reviews', '687 Reviews',
       '3842 Reviews', '409 Reviews', '230 Reviews', '1505 Reviews',
       '1312 Reviews', '758 Reviews', '649 Reviews', '6235 Reviews',
       '2905 Reviews', '307 Reviews', '1584 Reviews', '90 Reviews',
       '850 Reviews', '256 Reviews', '2876 Reviews', '608 Reviews',
       '333 Reviews', '1795 Reviews', '329 Reviews', '197 Reviews',
       '618 Reviews', '262 Reviews', '6329 Reviews', '812 Reviews',
       '1281 Reviews', '290 Reviews', '1616 Reviews', '639 Reviews',
       '500 Reviews', '1248 Reviews', '330 Reviews', '404 Reviews',
       '1192 Reviews', '829 Reviews', '6524 Reviews', '1382 Reviews',
       '1060 Reviews', '520 Reviews', '3211 Reviews', '1783 Reviews',
       '285 Reviews', '612 Reviews', '566 Reviews', '324 Reviews',
       '344 Reviews', '353 Reviews', '148 Reviews', '390 Reviews',
       '2589 Reviews', '473 Reviews', '3333 Reviews', '631 Reviews',
       '1510 Reviews', '567 Reviews', '964 Reviews', '420 Reviews',
       '328 Reviews', '456 Reviews', '881 Reviews', '248 Reviews',
       '1459 Reviews', '491 Reviews', '2874 Reviews', '740 Reviews',
       '255 Reviews', '578 Reviews', '671 Reviews', '280 Reviews',
       '1278 Reviews', '1644 Reviews', '651 Reviews', '1093 Reviews',
       '411 Reviews', '932 Reviews', '2506 Reviews', '577 Reviews',
       '605 Reviews', '513 Reviews', '406 Reviews', '219 Reviews',
       '502 Reviews', '1850 Reviews', '1120 Reviews', '662 Reviews',
       '364 Reviews', '2346 Reviews', '281 Reviews', '118 Reviews',
       '647 Reviews', '354 Reviews', '21417 Reviews', '414 Reviews',
       '24022 Reviews', '2217 Reviews', '2282 Reviews', '887 Reviews',
       '751 Reviews', '1746 Reviews', '736 Reviews', '319 Reviews',
       '1372 Reviews', '1001 Reviews', '530 Reviews', '193 Reviews',
       '507 Reviews', '791 Reviews', '369 Reviews', '2276 Reviews',
       '265 Reviews', '632 Reviews', '893 Reviews', '1052 Reviews',
       '421 Reviews', '352 Reviews', '1369 Reviews', '277 Reviews',
       '4534 Reviews', '1708 Reviews', '665 Reviews', '882 Reviews',
       '522 Reviews', '125 Reviews', '1305 Reviews', '430 Reviews',
       '734 Reviews', '1602 Reviews', '603 Reviews', '1075 Reviews',
       '600 Reviews', '952 Reviews', '514 Reviews', '1030 Reviews',
       '2108 Reviews', '1002 Reviews', '4577 Reviews', '533 Reviews',
       '2283 Reviews', '1603 Reviews', '836 Reviews', '6919 Reviews',
       '322 Reviews', '888 Reviews', '2877 Reviews', '883 Reviews',
       '17014 Reviews', '2120 Reviews', '16302 Reviews', '441 Reviews',
       '13138 Reviews', '4541 Reviews', '2017 Reviews', '3565 Reviews',
       '1482 Reviews', '287 Reviews', '1157 Reviews', '372 Reviews',
       '680 Reviews', '2446 Reviews', '537 Reviews', '1798 Reviews',
       '590 Reviews', '1733 Reviews', '4852 Reviews', '5303 Reviews',
       '510 Reviews', '1956 Reviews', '931 Reviews', '271 Reviews',
       '2260 Reviews', '295 Reviews', '711 Reviews', '784 Reviews',
       '39143 Reviews', '32151 Reviews', '3760 Reviews', '6267 Reviews'],
      dtype=object)

In [25]:
df['rating'] = df['rating'].fillna(0.0)

In [26]:
df['reviews'] = df['reviews'].fillna('0 Reviews')

In [ ]:
df.isnull().sum()

job_id             0
job_role           0
company            0
experience         0
salary             0
location           0
rating             0
reviews            0
resposibilities    0
job_link           0
company_link       0
dtype: int64

In [ ]:
df

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...
...,...,...,...,...,...,...,...,...,...,...,...
79142,6.012301e+10,.Net Fullstack Developer,Citiustech,3-8 Yrs,"7,00,000 - 17,00,000 PA.","Hybrid - Pune, Bangalore/Bengaluru, Mumbai (Al...",4.0,742 Reviews,"c#,.net core,javascript,Microservices,Angular,...",https://www.naukri.com/job-listings-net-fullst...,https://www.naukri.com/citiustech-jobs-careers...
79143,1.122201e+10,Senior (BI) Business Intelligence Architect,Hexaware Technologies,10-13 Yrs,Not disclosed,"Hybrid - Pune, Chennai, Bangalore/Bengaluru, M...",3.7,3172 Reviews,"Informatica Mdm,etl,business intelligence,Agil...",https://www.naukri.com/job-listings-senior-bi-...,https://www.naukri.com/hexaware-technologies-j...
79144,1.512220e+11,PowerBI Developer,EY,5-10 Yrs,Not disclosed,"Hybrid - Pune, Mumbai (All Areas)",3.8,6267 Reviews,"pagination,Power Bi,Dax",https://www.naukri.com/job-listings-powerbi-de...,https://www.naukri.com/ey-jobs-careers-9156
79145,2.712220e+11,Customer Service Associate,Tech Mahindra,0-2 Yrs,"2,50,000 - 3,50,000 PA.","Temp. WFH - Noida, Kolkata, New Delhi, Hyderab...",3.7,21440 Reviews,"Bengali,International BPO,BPO,Customer Service...",https://www.naukri.com/job-listings-customer-s...,https://www.naukri.com/tech-mahindra-jobs-care...
79146,2.112220e+11,Senior Java BED ( PAN India)- KG,Tech Mahindra,8-12 Yrs,"25,00,000 - 27,50,000 PA.","Temp. WFH - Noida, Kolkata, Hyderabad/Secunder...",3.7,21440 Reviews,"Kafka,sql,spring boot,REST API,java,Lambda,Des...",https://www.naukri.com/job-listings-senior-jav...,https://www.naukri.com/born-commerce-jobs-care...

#### 1.6) Removing Duplicates

In [ ]:
len(df.drop_duplicates(subset='job_id'))

73010

In [ ]:
len(df)

79147

In [ ]:
len(df.drop_duplicates(subset='job_link'))

73010

In [27]:
df.drop_duplicates(subset='job_id', inplace = True)

In [ ]:
len(df)

73010

# 2) Column Wise Data Cleaning

In [ ]:
df.head(3)

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...

#### 2.1) Job_id Exploration

In [ ]:
df['job_id'].value_counts()

job_id
7.102201e+10    1
2.912220e+11    1
2.012301e+10    1
2.012301e+10    1
2.012301e+10    1
               ..
6.012301e+10    1
6.012301e+10    1
6.012391e+10    1
6.012391e+10    1
6.012391e+10    1
Name: count, Length: 73009, dtype: int64

In [ ]:
df['job_id'].nunique()

73009

#### 2.2) Job Role Exploration

In [ ]:
df['job_role'].head(20)

0         Branch Banking - Calling For Women Candidates
1                          Product Owner Senior Manager
2     Employee Relations and Policies Associate Manager
3            Employee Relations and Policies Specialist
4                                     SAP BO Consultant
5     ServiceNow Consultants / Sr. Consultants ( Dev...
6     C++ Developer (Looking For immediate joiners o...
7     Functional Architect -  Oracle Supply Chain Ma...
8                         People Advisor Senior Analyst
9                    HR Service Delivery Senior Analyst
10                              Data Science Specialist
11                                    Solution Designer
12    Hiring-Java-Pune/Mumbai/Bangalore/Hyderabad/Ch...
13                                     Splunk Developer
14                             Automation Test Engineer
15    Unified Functional Testing/UFT Automation Testing
16                   Senior Product Experience Engineer
17                                   Solution Architect
18       SQL Developer, SSIS Developer with Hexaware!!!
19                             .Net Fullstack Developer
Name: job_role, dtype: object

#### 2.3) Company Exploration

In [ ]:
df['company'].value_counts()

company
Lavya Associates                                5128
Accenture                                       2928
Hucon                                            852
Varite India Pvt. Ltd.                           815
IBM                                              656
                                                ...
Centre For Social Responsibility  Leadership       1
NEW Era Solutions Private Limied                   1
Nuerepa Biotechnology                              1
Texon Vietnam                                      1
Tirupati Group                                     1
Name: count, Length: 15313, dtype: int64

In [ ]:
df[df['company'] == 'Lavya Associates']['company_link'].unique()

array(['https://www.naukri.com/lavya-associates-hr-services-jobs-careers-932996',
       'https://www.naukri.com/lavya-associates-jobs-careers-932996'],
      dtype=object)

In [ ]:
df[df['company_link'] == 'https://www.naukri.com/lavya-associates-hr-services-jobs-careers-932996']['company'].unique()

array(['Lavya Associates HR Services', 'Lavya Associates'], dtype=object)

#### 2.4) Experience Exploration

In [ ]:
df

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...
...,...,...,...,...,...,...,...,...,...,...,...
73762,2.012300e+10,Partner Success Executive/Edtech/Punjab,Parth Associates,1-5 Yrs,"7,00,000 - 8,50,000 PA.","Jalandhar, Chandigarh, Amritsar",NaN,NaN,"CRM,Communication Skills,Presentation Skills,C...",https://www.naukri.com/job-listings-partner-su...,https://www.naukri.com/parth-associates-jobs-c...
73763,2.012300e+10,Partner Success Associate/Edtech/Punjab,Parth Associates,1-5 Yrs,"7,00,000 - 8,50,000 PA.","Ludhiana, Patiala, Moga",NaN,NaN,"CRM,Communication Skills,Presentation Skills,C...",https://www.naukri.com/job-listings-partner-su...,https://www.naukri.com/parth-associates-jobs-c...
73764,2.312220e+11,Hiring For International Voice Process | Gurga...,First Step Solutions,1-4 Yrs,"3,00,000 - 4,50,000 PA.","New Delhi, Gurgaon/Gurugram",NaN,NaN,"Customer Service,US Process,Hospitality,Custom...",https://www.naukri.com/job-listings-hiring-for...,https://www.naukri.com/first-step-solutions-jo...
73765,1.712200e+11,Fresher Engineer,Sofcon,0-2 Yrs,Not disclosed,"Kota, Udaipur, Banswara, Bhiwadi, Jaipur, Alwa...",2.8,3 Reviews,"ENGINEERING,B Tech Fresher,AutoCAD,Degree,PLC,...",https://www.naukri.com/job-listings-fresher-en...,https://www.naukri.com/sofcon-jobs-careers-110403
73766,7.102201e+10,Anatomy Trainer - Part Time / Full time,Indian Healthcare BPO,1-6 Yrs,Not disclosed,"Hybrid - Pondicherry/Puducherry, Salem, Chennai",NaN,NaN,"Lecturer Activities,Nursing Education,Trainer,...",https://www.naukri.com/job-listings-anatomy-tr...,https://www.naukri.com/indian-healthcare-bpo-j...

In [ ]:
len(df['experience'])

73010

In [28]:
c = 0

for i in df['experience']:
  if len(i.split()) == 2:
    c += 1

print(c)

72988

In [ ]:
count=0

for i in df['experience']:
  if(len(i.split())==2):
    count= count +1
print(count)

72988

In [ ]:
len(df['experience'])

72988

In [47]:
df['start_exp'] = df['experience'].str.replace('Yrs','').str.strip().str.split('-').str[0]

In [49]:
df['end_exp'] = df['experience'].str.replace('Yrs','').str.strip().str.split('-').str[1]

In [50]:
df

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,job_link,company_link,start_exp,end_exp
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213,1,6
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...,11,15
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...,3,7
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...,3,7
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...,5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73762,2.012300e+10,Partner Success Executive/Edtech/Punjab,Parth Associates,1-5 Yrs,"7,00,000 - 8,50,000 PA.","Jalandhar, Chandigarh, Amritsar",0.0,0 Reviews,"CRM,Communication Skills,Presentation Skills,C...",https://www.naukri.com/job-listings-partner-su...,https://www.naukri.com/parth-associates-jobs-c...,1,5
73763,2.012300e+10,Partner Success Associate/Edtech/Punjab,Parth Associates,1-5 Yrs,"7,00,000 - 8,50,000 PA.","Ludhiana, Patiala, Moga",0.0,0 Reviews,"CRM,Communication Skills,Presentation Skills,C...",https://www.naukri.com/job-listings-partner-su...,https://www.naukri.com/parth-associates-jobs-c...,1,5
73764,2.312220e+11,Hiring For International Voice Process | Gurga...,First Step Solutions,1-4 Yrs,"3,00,000 - 4,50,000 PA.","New Delhi, Gurgaon/Gurugram",0.0,0 Reviews,"Customer Service,US Process,Hospitality,Custom...",https://www.naukri.com/job-listings-hiring-for...,https://www.naukri.com/first-step-solutions-jo...,1,4
73765,1.712200e+11,Fresher Engineer,Sofcon,0-2 Yrs,Not disclosed,"Kota, Udaipur, Banswara, Bhiwadi, Jaipur, Alwa...",2.8,3 Reviews,"ENGINEERING,B Tech Fresher,AutoCAD,Degree,PLC,...",https://www.naukri.com/job-listings-fresher-en...,https://www.naukri.com/sofcon-jobs-careers-110403,0,2
73766,7.102201e+10,Anatomy Trainer - Part Time / Full time,Indian Healthcare BPO,1-6 Yrs,Not disclosed,"Hybrid - Pondicherry/Puducherry, Salem, Chennai",0.0,0 Reviews,"Lecturer Activities,Nursing Education,Trainer,...",https://www.naukri.com/job-listings-anatomy-tr...,https://www.naukri.com/indian-healthcare-bpo-j...,1,6

In [52]:
df['salary'].unique()

array(['Not disclosed', '7,00,000 - 17,00,000 PA.',
       '10,00,000 - 20,00,000 PA.',
       '4,00,000 - 9,00,000 PA. (Including Variable: 20.0%)',
       '2,50,000 - 3,50,000 PA.', '25,00,000 - 27,50,000 PA.',
       '13,00,000 - 22,50,000 PA.', '8,50,000 - 18,50,000 PA.',
       '4,25,000 - 4,50,000 PA.', '5,50,000 - 15,50,000 PA.',
       '5,50,000 - 14,00,000 PA.', '8,00,000 - 18,00,000 PA.',
       '50,000 - 3,00,000 PA.', '4,75,000 PA.', '6,00,000 - 8,00,000 PA.',
       '8,00,000 - 12,00,000 PA.', '5,00,000 - 15,00,000 PA.',
       '6,00,000 - 16,00,000 PA.', '5,00,000 - 14,00,000 PA.',
       '10,00,000 - 18,00,000 PA.', '18,00,000 - 20,00,000 PA.',
       '4,00,000 - 7,00,000 PA.', '2,00,000 - 7,00,000 PA.',
       '20,00,000 - 30,00,000 PA.', '8,00,000 - 16,00,000 PA.',
       '3,00,000 - 6,50,000 PA.', '2,00,000 - 6,00,000 PA.', '50,000 PA.',
       '15,00,000 - 20,00,000 PA.', '9,00,000 - 19,00,000 PA.',
       '9,00,000 - 17,00,000 PA.', '22,50,000 - 25,00,000 PA.',
       '7,00,000 - 15,00,000 PA.', '20,00,000 - 35,00,000 PA.',
       '9.5 Cr and above PA.', '5,00,000 - 12,00,000 PA.',
       '3,00,000 - 4,50,000 PA.', '9,50,000 - 16,00,000 PA.',
       '12,00,000 - 20,00,000 PA.', '5,00,000 - 8,50,000 PA.',
       '5,00,000 - 13,00,000 PA.', '50,000 - 90,000 PA.',
       '3,00,000 - 4,75,000 PA.', '1,00,000 - 4,50,000 PA.',
       '18,00,000 - 25,00,000 PA.', '15,00,000 - 18,00,000 PA.',
       '6,00,000 - 9,00,000 PA.', '4,00,000 - 7,50,000 PA.',
       '4,00,000 - 4,75,000 PA.', '3,50,000 - 5,00,000 PA.',
       '1,75,000 - 4,25,000 PA.', '2,25,000 - 2,50,000 PA.',
       '2,25,000 - 3,50,000 PA.', '20,00,000 - 25,00,000 PA.',
       '6,50,000 - 16,50,000 PA.', '15,00,000 - 22,50,000 PA.',
       '2,25,000 - 4,50,000 PA.', '3,25,000 - 7,50,000 PA.',
       '4,00,000 - 9,00,000 PA.', '3,75,000 - 8,00,000 PA.',
       '3,00,000 - 7,00,000 PA.', '10,00,000 - 12,00,000 PA.',
       '14,00,000 - 16,00,000 PA.', '1,50,000 - 4,00,000 PA.',
       '15,00,000 - 30,00,000 PA.', '2,00,000 - 5,00,000 PA.',
       '60,000 - 70,000 PA.', '4,00,000 - 6,00,000 PA.',
       '3,00,000 - 6,00,000 PA.', '10,00,000 - 15,00,000 PA.',
       '15,00,000 - 27,50,000 PA.', '7,00,000 - 10,00,000 PA.',
       '4,00,000 - 5,00,000 PA.', '2,50,000 - 3,25,000 PA.',
       '1,00,000 - 2,00,000 PA.', '2,00,000 - 3,00,000 PA.',
       '30,00,000 - 40,00,000 PA.', '17,00,000 - 25,00,000 PA.',
       '5,00,000 - 7,00,000 PA.', '1,00,000 - 3,00,000 PA.',
       '3,00,000 - 4,00,000 PA.',
       '4,00,000 - 4,75,000 PA. (Including Variable: 75.0%)',
       '4,50,000 - 6,50,000 PA.', '2,50,000 - 4,00,000 PA.',
       '15,00,000 - 25,00,000 PA.', '17,00,000 - 19,00,000 PA.',
       '15,00,000 - 17,00,000 PA.', '1,00,000 - 5,50,000 PA.',
       '4,00,000 - 6,00,000 PA. (Including Variable: 25.0%)',
       '1,00,000 - 4,00,000 PA.', '1,00,000 - 5,00,000 PA.',
       '3,00,000 - 5,00,000 PA.', '2,25,000 - 4,75,000 PA.',
       '7,50,000 - 9,00,000 PA.', '3,00,000 - 5,50,000 PA.',
       '3,00,000 - 8,00,000 PA.', '6,00,000 - 7,50,000 PA.',
       '14,00,000 - 20,00,000 PA.',
       '4,00,000 - 7,00,000 PA. (Including Variable: 25.0%)',
       '3,75,000 - 7,00,000 PA.', '50,000 - 1,50,000 PA.',
       '50,000 - 2,75,000 PA.', '14,00,000 - 24,00,000 PA.',
       '10,00,000 - 14,00,000 PA.', '3,50,000 - 7,00,000 PA.',
       '5,00,000 - 10,00,000 PA.', '2,00,000 - 3,50,000 PA.',
       '12,00,000 - 15,00,000 PA.', '2,25,000 - 3,25,000 PA.',
       '3,00,000 PA.', '2,50,000 PA.', '6,00,000 - 11,00,000 PA.',
       '2,25,000 - 3,75,000 PA.', '30,00,000 - 45,00,000 PA.',
       '1,00,000 - 4,75,000 PA.', '2,00,000 - 4,00,000 PA.',
       '2,25,000 - 5,00,000 PA.', '2,00,000 - 2,50,000 PA.',
       '7,00,000 - 11,00,000 PA.', '18,00,000 - 22,50,000 PA.',
       '6,00,000 - 15,00,000 PA.', '6,50,000 - 10,00,000 PA.',
       '6,50,000 - 16,00,000 PA.', '10,00,000 - 16,00,000 PA.',
       '2,25,000 - 3,00,000 PA.', '3,25,000 - 4,75,000 PA.',
       '1,75,000 - 6,75,000 PA.', '1,50,000 - 2,00,000 PA.',
       '2,00,000 - 2,75,000 PA.', '2,50,000 - 2,75,000 PA.',
       '12,00,000 - 18,00,000 PA.', '7,00,000 - 14,00,000 PA.',
       '12,00,000 - 22,00,000 PA.', '2,50,000 - 4,50,000 PA.',
       '6,00,000 - 10,00,000 PA.', '8,00,000 - 10,00,000 PA.',
       '1,75,000 - 2,75,000 PA.', '50,000 - 2,00,000 PA.',
       '2,50,000 - 5,00,000 PA.', '18,00,000 - 30,00,000 PA.',
       '3,00,000 - 3,50,000 PA.', '2,00,000 - 4,50,000 PA.',
       '2,25,000 - 4,00,000 PA.', '7,00,000 - 8,00,000 PA.',
       '2,00,000 PA.', '1,75,000 - 2,25,000 PA.',
       '6,00,000 - 12,00,000 PA.', '5,00,000 - 11,00,000 PA.',
       '3,50,000 - 8,50,000 PA.', '1,50,000 - 3,00,000 PA.',
       '5,50,000 - 7,00,000 PA. (Including Variable: 75.0%)',
       '13,00,000 - 23,00,000 PA.', '8,00,000 - 14,00,000 PA.',
       '1,00,000 - 3,50,000 PA.', '40,00,000 - 50,00,000 PA.',
       '4,75,000 - 7,00,000 PA.', '3,25,000 PA.',
       '4,75,000 - 9,75,000 PA.', '12,00,000 - 13,00,000 PA.',
       '5,50,000 - 10,00,000 PA.', '6,00,000 - 6,50,000 PA.',
       '17,00,000 - 30,00,000 PA.', '1,00,000 - 2,50,000 PA.',
       '12,00,000 - 19,00,000 PA.', '7,00,000 - 13,00,000 PA.',
       '3,00,000 - 3,25,000 PA.', '4,00,000 - 4,50,000 PA.',
       '3,50,000 - 4,25,000 PA.', '10,00,000 - 17,00,000 PA.',
       '1,50,000 - 4,50,000 PA.', '4,00,000 - 8,00,000 PA.',
       '25,00,000 - 32,50,000 PA.', '1,25,000 - 3,00,000 PA.',
       '2,50,000 - 6,00,000 PA.', '1,50,000 - 2,50,000 PA.',
       '1,00,000 - 6,00,000 PA.', '35,00,000 - 65,00,000 PA.',
       '7,00,000 - 16,00,000 PA.', '3,50,000 - 8,00,000 PA.',
       '6,50,000 - 12,00,000 PA.', '1,00,000 - 3,75,000 PA.',
       '1,50,000 - 5,00,000 PA.', '1,50,000 PA.',
       '2,75,000 - 5,00,000 PA.', '5,00,00,000 - 9.5 Cr and above PA.',
       '6,50,000 - 15,00,000 PA.', '1,50,000 - 6,00,000 PA.',
       '2,50,000 - 7,50,000 PA.', '50,000 - 1,75,000 PA.',
       '5,00,000 - 9,00,000 PA.', '9,50,000 - 17,00,000 PA.',
       '18,00,000 - 33,00,000 PA.', '3,50,000 - 4,50,000 PA.',
       '6,00,000 - 14,00,000 PA.', '2,00,000 - 2,25,000 PA.',
       '8,00,000 - 8,50,000 PA.', '3,50,000 - 6,00,000 PA.',
       '2,25,000 - 5,50,000 PA.', '1,50,000 - 1,75,000 PA.',
       '8,00,000 - 13,00,000 PA.', '2,75,000 - 3,00,000 PA.',
       '3,00,000 - 7,50,000 PA.', '1,75,000 - 2,50,000 PA.',
       '1,75,000 - 3,00,000 PA.', '1,50,000 - 5,50,000 PA.',
       '3,25,000 - 4,50,000 PA.', '2,50,000 - 3,00,000 PA.',
       '2,50,000 - 3,75,000 PA.', '1,50,000 - 2,75,000 PA.',
       '16,00,000 - 20,00,000 PA.', '3,50,000 - 5,50,000 PA.',
       '1,75,000 - 2,00,000 PA.', '4,50,000 - 7,00,000 PA.',
       '8,00,000 - 11,00,000 PA.', 'Any Graduate',
       '4,50,000 - 7,50,000 PA.', '50,000 - 2,50,000 PA.',
       '6,50,000 - 9,50,000 PA.', '4,50,000 - 9,50,000 PA.',
       '4,50,000 - 6,00,000 PA.', '7,00,000 - 12,00,000 PA.',
       '4,75,000 - 6,50,000 PA.', '2,00,000 - 3,75,000 PA.',
       '4,50,000 - 9,00,000 PA.', '2,75,000 - 3,75,000 PA.',
       '2,00,000 - 3,00,000 PA. (Including Variable: 20.0%)',
       '60,000 - 3,00,000 PA.', '2,00,000 - 4,75,000 PA.',
       '1,25,000 - 2,25,000 PA.', '16,00,000 - 31,00,000 PA.',
       '2,75,000 - 3,25,000 PA.', '5,00,000 - 7,50,000 PA.',
       '4,00,000 - 5,50,000 PA.', '1,50,000 - 3,50,000 PA.',
       '1,00,000 - 2,75,000 PA.', '3,25,000 - 8,25,000 PA.',
       '1,00,000 - 1,50,000 PA.', '8,00,000 - 15,00,000 PA.',
       '15,00,000 - 16,00,000 PA.', '80,000 - 3,00,000 PA.',
       '1,00,000 PA.', '5,50,000 - 6,50,000 PA.',
       '7,00,000 - 9,00,000 PA.', '16,00,000 - 22,50,000 PA.',
       '3,00,000 - 4,25,000 PA.', '1,00,000 - 1,75,000 PA.',
       '16,00,000 - 25,00,000 PA.', '14,00,000 - 22,50,000 PA.',
       '50,000 - 80,000 PA.', '10,00,000 - 13,00,000 PA.',
       '1,75,000 - 2,00,000 PA. (Including Variable: 100.0%)',
       '8,00,000 - 9,00,000 PA.', '4,25,000 - 5,50,000 PA.',
       '7,50,000 - 11,00,000 PA.', '60,000 - 2,50,000 PA.',
       '9,50,000 - 15,00,000 PA.', '1,25,000 - 1,75,000 PA.',
       '6,00,000 - 7,00,000 PA.', '2,75,000 - 4,50,000 PA.',
       '2,50,000 - 5,50,000 PA.', '6,00,000 - 8,50,000 PA.',
       '10,000 - 15,000 PA.', '5,50,000 - 12,00,000 PA.',
       '1,00,000 - 2,25,000 PA.', '2,00,000 - 3,25,000 PA.',
       '1,75,000 - 4,00,000 PA.', '35,00,000 - 50,00,000 PA.',
       '7,00,000 - 7,50,000 PA.', '3,50,000 - 4,00,000 PA.',
       '80,000 - 1,00,000 PA.', '3,50,000 - 7,50,000 PA.',
       '4,25,000 - 9,00,000 PA.', '2,25,000 - 2,75,000 PA.',
       '6,50,000 - 8,50,000 PA.', '4,00,000 - 6,50,000 PA.',
       '7,00,000 - 9,50,000 PA.', '9,00,000 - 12,00,000 PA.',
       '1,50,000 - 3,25,000 PA.', '4,25,000 - 6,00,000 PA.',
       '4,25,000 - 8,50,000 PA.', '1,25,000 - 3,75,000 PA.',
       '5,00,000 - 8,00,000 PA.', '10,00,000 - 11,00,000 PA.',
       '2,00,000 - 5,50,000 PA.', '5,00,000 - 6,00,000 PA.',
       '2,50,000 - 4,25,000 PA.', '50,000 - 2,25,000 PA.',
       '7,50,000 - 10,00,000 PA.', '11,00,000 - 14,00,000 PA.',
       '4,00,00,000 - 6,00,00,000 PA.', '17,00,000 - 18,00,000 PA.',
       '5,00,000 - 6,50,000 PA.', '1,50,000 - 2,25,000 PA.',
       '1,25,000 - 2,50,000 PA.', '4,00,000 - 8,50,000 PA.',
       '1,25,000 - 4,50,000 PA.', '1,75,000 - 3,50,000 PA.',
       '90,000 - 1,00,000 PA.', '80,000 - 1,25,000 PA.',
       '5,00,000 PA. (Including Variable: 20.0%)',
       '2,00,000 - 4,25,000 PA.', '25,00,000 - 40,00,000 PA.',
       '9,00,000 - 13,00,000 PA.', '27,50,000 - 42,50,000 PA.',
       '18,00,000 - 19,00,000 PA.', '1,25,000 - 2,75,000 PA.',
       '3,75,000 - 5,00,000 PA.',
       '4,00,000 - 6,00,000 PA. (Including Variable: 10.0%)',
       '1,75,000 - 4,50,000 PA.', '1,25,000 - 4,25,000 PA.',
       '2,75,000 - 4,75,000 PA.', '5,50,000 - 13,00,000 PA.',
       '2,25,000 - 7,25,000 PA.', '4,50,000 - 5,00,000 PA.',
       '50,000 - 60,000 PA.', '90,000 - 1,25,000 PA.',
       '2,75,000 - 4,00,000 PA.', '6,50,000 - 7,50,000 PA.',
       '7,00,00,000 - 9.5 Cr and above PA.', '1,50,000 - 6,50,000 PA.',
       '9,00,000 - 11,00,000 PA.', '4,50,000 - 8,00,000 PA.',
       '19,00,000 - 20,00,000 PA.',
       '3,50,000 - 4,50,000 PA. (Including Variable: 20.0%)',
       '1,25,000 - 2,00,000 PA.', '20,00,000 - 27,50,000 PA.',
       '11,00,000 - 16,00,000 PA.', '5,50,000 - 7,50,000 PA.',
       '2,50,000 - 4,75,000 PA.', '5,50,000 - 8,50,000 PA.',
       '18,00,000 - 27,50,000 PA.',
       '30,00,000 - 40,00,000 PA. (Including Variable: 15.0%)',
       '50,000 - 1,25,000 PA.', '1,00,000 - 1,25,000 PA.',
       '19,00,000 - 22,50,000 PA. (Including Variable: 10.0%)',
       '10,00,000 PA.', '3,25,000 - 4,25,000 PA.',
       '3,75,000 - 4,50,000 PA.', '3,25,000 - 5,00,000 PA.',
       '2,25,000 PA.', '50,000 - 1,00,000 PA.', '60,000 - 80,000 PA.',
       '3,25,000 - 8,00,000 PA.', '6,50,000 - 9,00,000 PA.',
       '3,75,000 - 4,25,000 PA.', '17,00,000 PA.',
       '9,50,000 - 13,00,000 PA.', '30,00,000 PA.',
       '9,00,000 - 15,00,000 PA.', '20,00,000 - 32,50,000 PA.',
       '11,00,000 - 21,00,000 PA.', '17,00,000 - 20,00,000 PA.',
       '18,00,000 - 32,50,000 PA.', '13,00,000 - 15,00,000 PA.',
       '2,00,000 - 6,50,000 PA.', '2,50,000 - 7,00,000 PA.',
       '16,00,000 - 19,00,000 PA. (Including Variable: 10.0%)',
       '8,50,000 - 13,00,000 PA.', '5,00,000 - 9,50,000 PA.',
       '4,50,000 - 4,75,000 PA.', '7,50,000 - 13,00,000 PA.',
       '90,000 - 2,25,000 PA.', '14,00,000 - 18,00,000 PA.',
       '2,75,000 - 5,50,000 PA.', '5,50,000 - 8,00,000 PA.',
       '1,25,000 - 5,00,000 PA.', '1,25,000 - 3,50,000 PA.',
       '3,75,000 - 5,50,000 PA.', '6,50,000 - 7,00,000 PA.',
       '16,00,000 - 17,00,000 PA.', '10,00,000 - 19,00,000 PA.',
       '3,50,000 - 6,50,000 PA.', '4,00,00,000 - 5,00,00,000 PA.',
       '2,75,000 - 3,50,000 PA.', '1,50,000 - 4,25,000 PA.',
       '5,00,00,000 - 9,00,00,000 PA.', '12,00,000 - 16,00,000 PA.',
       '15,00,000 - 19,00,000 PA.', '5,50,000 - 15,00,000 PA.',
       '5,50,000 - 7,00,000 PA.', '4,50,000 - 5,50,000 PA.',
       '8,50,000 - 12,00,000 PA.', '13,00,000 - 16,00,000 PA.',
       '55,00,000 - 90,00,000 PA.', '11,00,000 - 17,00,000 PA.',
       '3,75,000 - 8,50,000 PA.', '9,50,000 - 18,00,000 PA.',
       '3,75,000 - 4,75,000 PA.',
       '9,00,000 - 12,00,000 PA. (Including Variable: 10.0%)',
       '17,00,000 - 27,50,000 PA.', '7,50,000 - 17,50,000 PA.',
       '35,00,000 - 45,00,000 PA.', '8,00,000 - 17,00,000 PA.',
       '22,50,000 - 30,00,000 PA.', '9,00,000 - 14,00,000 PA.',
       '1,75,000 - 4,75,000 PA.', '1,25,000 - 3,25,000 PA.',
       '1,75,000 - 3,75,000 PA.', '1,25,000 - 4,00,000 PA.',
       '7,00,000 - 8,50,000 PA.', '8,50,000 - 18,00,000 PA.',
       '8,50,000 - 15,00,000 PA.', '7,00,000 PA.',
       '16,00,000 - 27,50,000 PA.', '3,50,00,000 - 3,75,00,000 PA.',
       '3,25,000 - 6,50,000 PA.', '2,75,000 - 4,25,000 PA.',
       '6,50,000 - 8,00,000 PA.',
       '2,50,000 - 3,75,000 PA. (Including Variable: 4.0%)',
       'Less than 50,000 PA.', '90,000 PA.', '1,75,000 - 5,00,000 PA.',
       '2,75,000 - 6,00,000 PA.', '6,00,000 - 13,00,000 PA.',
       '1,25,000 - 1,50,000 PA.', '3,25,000 - 4,00,000 PA.',
       '3,50,000 PA.', '15,000 - 25,000 PA.', '9,00,000 - 10,00,000 PA.',
       'Any Postgraduate, Any Graduate', '18,00,000 PA.',
       '5,50,000 - 11,00,000 PA.', '12,00,000 - 14,00,000 PA.',
       '17,00,000 - 32,00,000 PA.', '2,25,000 - 6,50,000 PA.',
       '4,75,000 - 5,50,000 PA.', '30,00,000 - 35,00,000 PA.',
       '25,00,000 - 30,00,000 PA. (Including Variable: 25.0%)',
       '18,00,000 - 25,00,000 PA. (Including Variable: 25.0%)',
       '11,00,000 - 12,00,000 PA.', '11,00,000 - 20,00,000 PA.',
       '40,00,000 - 70,00,000 PA.', '3,75,000 - 6,00,000 PA.',
       '2,50,000 - 6,50,000 PA.', '4,75,000 - 8,50,000 PA.',
       '25,00,000 - 35,00,000 PA.', '13,00,000 - 20,00,000 PA.',
       '90,000 - 3,00,000 PA.', '3,25,000 - 7,00,000 PA.',
       '2,50,000 - 6,00,000 PA. (Including Variable: 10.0%)',
       '1,75,000 - 3,25,000 PA.', '2,25,000 - 4,25,000 PA.',
       '7,00,000 - 11,00,000 PA. (Including Variable: 20.0%)',
       '1,50,000 - 3,75,000 PA.', '7,50,000 - 17,00,000 PA.',
       '3,00,000 - 3,75,000 PA.', '70,000 - 3,00,000 PA.',
       '3,25,000 - 6,00,000 PA.',
       '3,00,000 - 5,50,000 PA. (Including Variable: 5.0%)',
       '14,00,000 - 15,00,000 PA.', '9,50,000 - 19,50,000 PA.',
       '40,00,000 - 60,00,000 PA.', '1,25,000 - 6,25,000 PA.',
       '8,50,000 - 14,00,000 PA.', '7,50,000 - 12,00,000 PA.',
       '2,25,000 - 6,00,000 PA.', '8,50,000 - 11,00,000 PA.',
       '500,000 - 800,000 PA.', '3,25,000 - 5,50,000 PA.',
       '80,000 - 125,000 PA.', '2,00,00,000 - 3,00,00,000 PA.',
       '1,25,000 - 6,00,000 PA.',
       '40,00,000 - 70,00,000 PA. (Including Variable: 10.0%)',
       '4,25,000 - 9,25,000 PA.', '27,50,000 - 37,50,000 PA.',
       '7,50,000 - 16,00,000 PA.', '40,00,000 - 90,00,000 PA.',
       '19,00,000 - 27,50,000 PA.', '8,00,000 - 9,50,000 PA.',
       '1,25,000 - 2,25,000 PA. (Including Variable: 2.0%)',
       '3,75,000 - 6,50,000 PA.', '90,000 - 1,75,000 PA.',
       '50,000 - 70,000 PA.', '35,00,000 - 40,00,000 PA.',
       '14,00,000 - 17,00,000 PA.', '3,25,000 - 3,75,000 PA.',
       '70,000 - 1,00,000 PA.',
       '10,00,000 - 20,00,000 PA. (Including Variable: 70.0%)',
       '12,00,000 - 22,00,000 PA. (Including Variable: 35.0%)',
       '80,000 - 1,50,000 PA.', '60,000 PA.', '60,000 - 1,25,000 PA.',
       '2,25,000 - 7,25,000 PA. (Including Variable: 40.0%)',
       '90,000 - 2,00,000 PA.', '19,00,000 - 32,50,000 PA.',
       '6,50,000 - 14,00,000 PA.', '60,000 - 2,00,000 PA.',
       '9,50,000 - 11,00,000 PA.', '8,50,000 - 9,50,000 PA.',
       '2,50,000 - 3,00,000 PA. (Including Variable: 10.0%)',
       '16,00,000 - 30,00,000 PA.', '25,00,000 - 30,00,000 PA.',
       '11,00,000 - 15,00,000 PA.', '4,75,000 - 9,50,000 PA.',
       '4,25,000 - 5,00,000 PA.', '5,50,000 - 6,00,000 PA.',
       '30,00,000 - 37,50,000 PA.', '1,00,000 - 3,25,000 PA.',
       '11,00,000 - 18,00,000 PA.', '80,000 - 2,00,000 PA.',
       '1,00,000 - 4,25,000 PA.', '5,50,000 - 9,50,000 PA.',
       '4,75,000 - 6,00,000 PA.', '40,00,000 - 80,00,000 PA.',
       '4,00,000 - 5,50,000 PA. (Including Variable: 12.0%)',
       '8,50,000 - 16,00,000 PA.',
       '3,50,000 - 8,00,000 PA. (Including Variable: 20.0%)',
       '3,00,000 - 4,25,000 PA. (Including Variable: 15.0%)',
       '6,00,000 - 8,00,000 PA. (Including Variable: 20.0%)',
       '3,50,000 - 3,75,000 PA.', '12,00,000 - 17,00,000 PA.',
       'Graduation Not Required', '2,75,000 - 6,50,000 PA.',
       '2,00,000 - 3,00,000 PA. (Including Variable: 25.0%)',
       '2,25,000 - 7,00,000 PA.',
       '3,00,000 - 5,00,000 PA. (Including Variable: 10.0%)',
       '6,00,000 - 9,50,000 PA.', '3,75,000 - 7,50,000 PA.',
       '13,00,000 - 14,00,000 PA.', '22,50,000 - 27,50,000 PA.',
       '3,50,000 - 4,75,000 PA.', '17,00,000 - 22,50,000 PA.',
       '4,75,000 - 6,00,000 PA. (Including Variable: 40.0%)',
       '1,00,000 - 2,25,000 PA. (Including Variable: 0.5%)',
       '9,00,000 - 16,00,000 PA.', '4,25,000 - 7,00,000 PA.',
       '8,50,00,000 - 9.5 Cr and above PA.', '2,75,000 - 7,75,000 PA.',
       '18,00,000 - 25,00,000 PA. (Including Variable: 10.0%)',
       '1,75,000 - 6,00,000 PA.', '2,75,000 - 7,00,000 PA.',
       '1,25,000 PA.',
       '2,50,000 - 3,75,000 PA. (Including Variable: 100.0%)',
       '4,75,000 - 5,00,000 PA.', '1,00,00,000 PA.',
       '35,00,000 - 1,00,00,000 PA.', '4,75,000 - 7,50,000 PA.',
       '5,00,000 - 5,50,000 PA.', '7,50,000 - 15,00,000 PA.',
       '90,000 - 2,50,000 PA.', '25,00,000 PA.',
       'M.Tech, MCA, MS/M.Sc(Science), B.Tech/B.E.',
       '4,75,000 - 9,00,000 PA.',
       '6,00,000 - 10,00,000 PA. (Including Variable: 20.0%)',
       '3,50,000 - 4,50,000 PA. (Including Variable: 35.0%)',
       '7,50,000 - 9,50,000 PA.', '4,25,000 - 4,75,000 PA.',
       '2,75,000 - 3,50,000 PA. (Including Variable: 5.0%)',
       '9,00,000 - 18,00,000 PA.', '8,00,00,000 - 9.5 Cr and above PA.',
       '11,00,000 - 13,00,000 PA.', '5,00,00,000 - 8,50,00,000 PA.',
       '9,00,000 - 9,50,000 PA.', '16,00,000 - 18,00,000 PA.',
       '13,00,000 - 18,00,000 PA.',
       '2,75,000 - 3,00,000 PA. (Including Variable: 10.0%)',
       '3,00,000 - 4,25,000 PA. (Including Variable: 100.0%)',
       '60,00,000 - 85,00,000 PA.', '1,25,000 - 4,75,000 PA.',
       '1,75,000 - 5,50,000 PA.', '35,00,000 - 60,00,000 PA.',
       '5,00,000 - 15,00,000 PA. (Including Variable: 100.0%)',
       '22,50,000 - 35,00,000 PA.', '40,00,000 - 45,00,000 PA.',
       '10,00,000 - 15,00,000 PA. (Including Variable: 29.0%)',
       '70,000 - 2,00,000 PA.', '19,00,000 - 30,00,000 PA.',
       '9,50,000 - 12,00,000 PA.', '7,50,000 - 14,00,000 PA.',
       '10,00,000 - 16,00,000 PA. (Including Variable: 15.0%)',
       '27,50,000 - 40,00,000 PA.', '70,000 - 1,50,000 PA.',
       '2,25,000 - 3,00,000 PA. (Including Variable: 20.0%)',
       '1,75,000 - 6,50,000 PA.',
       '3,25,000 - 6,50,000 PA. (Including Variable: 5.0%)',
       '3,50,000 - 4,25,000 PA. (Including Variable: 15.0%)',
       '1,50,00,000 - 3,00,00,000 PA.',
       '4,00,000 - 9,00,000 PA. (Including Variable: 30.0%)',
       '1,25,000 - 3,00,000 PA. (Including Variable: 20.0%)',
       '4,75,000 - 8,00,000 PA.',
       '10,00,000 - 14,00,000 PA. (Including Variable: 10.0%)',
       '40,00,000 - 65,00,000 PA.', '37,50,000 - 65,00,000 PA.',
       'CA, MBA/PGDM, M.Com, B.Com', '6,50,00,000 - 9.5 Cr and above PA.',
       '6,00,000 - 9,00,000 PA. (Including Variable: 30.0%)',
       '27,50,000 - 30,00,000 PA.', '4,25,000 - 8,00,000 PA.',
       '50,00,000 - 60,00,000 PA.', '55,00,000 - 65,00,000 PA.',
       '7,50,000 - 8,50,000 PA.', '5,50,000 - 9,00,000 PA.',
       '5,00,000 PA.', '2,75,000 PA.', '4,00,000 PA.',
       '6,00,00,000 - 7,50,00,000 PA.',
       '3,00,000 - 4,00,000 PA. (Including Variable: 30.0%)',

In [53]:
df.head(2)

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,job_link,company_link,start_exp,end_exp
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213,1,6
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...,11,15